html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(162, 0, 255), rgb(51, 4, 221), rgb(0, 255, 247));
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

#gamePanel{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
}

#drag-icon{
    width: 20px;
    height: 20px;
}


#userInformation{
    top: 100px;
    left: 100px;
    background:linear-gradient(45deg, #3916d3, rgba(140, 0, 240, 0.877));
    border-radius: 4px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: max-content;
    padding: 10px;
    position: fixed;
}
p{
    color:white
}

.page-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5vh
}

.modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;


    #name{
        width: 300px;
        height: 20px;
        border-radius: 2px;
        
        padding: 2px;
    }
}

#message{
    color:rgb(213, 144, 253)
}

#board{
    background-color: rgba(0,0,0,0.5);
    border: 5px solid skyblue;
    border-radius: 10px;
    
}


body.modal-visible .page-wrapper {
    filter:blur(10px) grayscale(100%);
    transition: filter 1s ease-out;
}

body.modal-visible {
    overflow: hidden;
}

.modal {
    /* scale: 0; */
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh; 
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999; 
    visibility: hidden;
}
body.modal-visible .modal {
    /* scale: 1; */
    visibility: visible;
}

.modal-content {
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    height: 150px;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scale(0);
    transition: all 0.2s ease-out;
}

body.modal-visible .modal-content {
    transition: all 0.5s ease;
    transform: scale(1);
}




.dropZone, #dropZoneUserImage{

    display: flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
    background-color: #ffffff4c;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    
    min-width: 200px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

.dropZone--over{
    opacity: 0.5;
}

.dropItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    border-radius: 7px;
    background: linear-gradient(45deg, rgba(132, 0, 255, 0.593), rgba(76, 53, 255, 0.5));
}

.dropInfoItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items:center;
}




.dropPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(30, 15, 106, 0.269);
    border-radius: 10px;
}


.dropColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#userImage{
    display: none;
}


@media screen and (max-width: 1400px){
    .dropPanel{
        display: flex;;
        flex-direction: column;
    }
}

@media screen and (max-width: 1150px){
    .dropColumn{
        flex-direction: row;
    }

    #gamePanel{
        display: flex;
        flex-direction: column;
    }
}
